@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SC Softwares</h1>
    <p class="lead">Get great products with ease.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
     @if (! Request.IsAuthenticated)
     {
        <h2><a href="~/Home/Buy">Buy SC Client App</a></h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
     }
    </div>
  
</div>