<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <!-- Start Unity Interceptor type aliases -->
    <alias alias="AuditLogging" type="SCServer.Core.Aspect.AuditLogging, SCServer.Core" />
    <!-- End Unity Interceptor type aliases -->

    <!-- Start NHibernate Session type alias for Session -->
    <alias alias="INHibernateContext" type="SCServer.Core.Infrastructure.INHibernateContext, SCServer.Core" />
    <alias alias="NHibernateContext" type="SCServer.Api.Infrastructure.NHibernateContext, SCServer.Api" />
    <!-- End NHibernate Session type alias for Session -->

    <!-- Start User-defined type aliases for UnitOfWork -->
    <alias alias="IUnitOfWork" type="SCServer.Core.IRepository.IUnitOfWork, SCServer.Core" />
    <alias alias="UnitOfWork" type="SCServer.Repository.UnitOfWork, SCServer.Repository" />
    <!-- End User-defined type aliases for UnitOfWork -->

    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="ICustomerRepository" type="SCServer.Core.IRepository.ICustomerRepository, SCServer.Core" />
    <alias alias="CustomerRepository" type="SCServer.Repository.CustomerRepository, SCServer.Repository" /> 
    
     <alias alias="IEditionRepository" type="SCServer.Core.IRepository.IEditionRepository, SCServer.Core" />
    <alias alias="EditionRepository" type="SCServer.Repository.EditionRepository, SCServer.Repository" />

    <alias alias="IFeatureRepository" type="SCServer.Core.IRepository.IFeatureRepository, SCServer.Core" />
    <alias alias="FeatureRepository" type="SCServer.Repository.FeatureRepository, SCServer.Repository" />

    <alias alias="IModuleRepository" type="SCServer.Core.IRepository.IModuleRepository, SCServer.Core" />
    <alias alias="ModuleRepository" type="SCServer.Repository.ModuleRepository, SCServer.Repository" />

    <alias alias="IModulePrivilegeRepository" type="SCServer.Core.IRepository.IModulePrivilegeRepository, SCServer.Core" />
    <alias alias="ModulePrivilegeRepository" type="SCServer.Repository.ModulePrivilegeRepository, SCServer.Repository" />

    
    <alias alias="IPrivilegeRepository" type="SCServer.Core.IRepository.IPrivilegeRepository, SCServer.Core" />
    <alias alias="PrivilegeRepository" type="SCServer.Repository.PrivilegeRepository, SCServer.Repository" />

    <alias alias="ISectionRepository" type="SCServer.Core.IRepository.ISectionRepository, SCServer.Core" />
    <alias alias="SectionRepository" type="SCServer.Repository.SectionRepository, SCServer.Repository" />

    <alias alias="ISectionModulesRepository" type="SCServer.Core.IRepository.ISectionModulesRepository, SCServer.Core" />
    <alias alias="SectionModulesRepository" type="SCServer.Repository.SectionModulesRepository, SCServer.Repository" />
    
    
    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="ICustomerService" type="SCServer.Core.IService.ICustomerService, SCServer.Core" />
    <alias alias="CustomerService" type="SCServer.Service.CustomerService, SCServer.Service" />

    <alias alias="IEditionService" type="SCServer.Core.IService.IEditionService, SCServer.Core" />
    <alias alias="EditionService" type="SCServer.Service.EditionService, SCServer.Service" />

    <alias alias="IFeatureService" type="SCServer.Core.IService.IFeatureService, SCServer.Core" />
    <alias alias="FeatureService" type="SCServer.Service.FeatureService, SCServer.Service" />

    <alias alias="IModuleService" type="SCServer.Core.IService.IModuleService, SCServer.Core" />
    <alias alias="ModuleService" type="SCServer.Service.ModuleService, SCServer.Service" />

    <alias alias="IModulePrivilegeService" type="SCServer.Core.IService.IModulePrivilegeService, SCServer.Core" />
    <alias alias="ModulePrivilegeService" type="SCServer.Service.ModulePrivilegeService, SCServer.Service" />

    <alias alias="IPrivilegeService" type="SCServer.Core.IService.IPrivilegeService, SCServer.Core" />
    <alias alias="PrivilegeService" type="SCServer.Service.PrivilegeService, SCServer.Service" />

    <alias alias="ISectionService" type="SCServer.Core.IService.ISectionService, SCServer.Core" />
    <alias alias="SectionService" type="SCServer.Service.SectionService, SCServer.Service" />

    <alias alias="ISectionModulesService" type="SCServer.Core.IService.ISectionModulesService, SCServer.Core" />
    <alias alias="SectionModulesService" type="SCServer.Service.SectionModulesService, SCServer.Service" />
    
    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />

      <register type="INHibernateContext" mapTo="NHibernateContext" />

      <!--<register type="IContentRepository" mapTo="ContentRepository">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLogging" />
      </register>-->
      <register type="ICustomerRepository" mapTo="CustomerRepository"/>
      <register type="IEditionRepository" mapTo="EditionRepository"/>

      <register type="IFeatureRepository" mapTo="FeatureRepository"/>
      <register type="IModuleRepository" mapTo="ModuleRepository"/>

      <register type="IModulePrivilegeRepository" mapTo="ModulePrivilegeRepository"/>
      
      <register type="IPrivilegeRepository" mapTo="PrivilegeRepository"/>

      <register type="ISectionRepository" mapTo="SectionRepository"/>
      <register type="ISectionModulesRepository" mapTo="SectionModulesRepository"/>
      
      <register type="IUnitOfWork" mapTo="UnitOfWork" />

      <register type="ICustomerService" mapTo="CustomerService" />
      <register type="IEditionService" mapTo="EditionService" />
      <register type="IFeatureService" mapTo="FeatureService" />
      <register type="IModuleService" mapTo="ModuleService" />
      <register type="IModulePrivilegeService" mapTo="ModulePrivilegeService" /> 
      <register type="IPrivilegeService" mapTo="PrivilegeService" />
      
      <register type="ISectionService" mapTo="SectionService" />
      <register type="ISectionModulesService" mapTo="SectionModulesService" />
    </container>
  </unity>
</configuration>
